:root {
  --text-color: #121212;
  --background-color: #e5e5e5;
  --hover-background-color: #f5f5f5;
  --border-color: #aaa;
  --max-priority-color: #eba5a5;
  --priority-color: #efc864;
  --primary-color: #185118;
  --secondary-color: #af0d0d;
  --shadow-color: rgba(0, 0, 0, 0.551);
  --hover-green: #6dd06d;
  --bright-color:#fff;

--font-main: 'Montserrat', arial, helvetica, sans-serif;
--font-title: 'Tinos', arial, helvetica, sans-serif;
}
