
.main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: transparent;
  justify-content: flex-start;
  flex: 1;
  background-color: var(--background-color);
}
.main__display {
  position: relative;
  width: 90vw;
  overflow: hidden;
  box-shadow: 8px 8px 10px var(--shadow-color);
  border-radius: 10px;
}
.main__alerts {
  display: flex;
  transition: transform 0.4s ease-in-out;
}
.alert {
  min-width: 90vw; /* 90% da largura da viewport */
  height: 300px;
  background-color: var(--priority-color);
  color: var(--text-color);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.danger-alert {
  border: 4px solid var(--secondary-color);
  background-color: var(--max-priority-color);
}
.alert__icon img{
  width: 36px;
}
.alert__header {
  display: flex;
  width: 95%;
  border-bottom: 3px solid var(--secondary-color);
  justify-content: space-between;;
  align-items: flex-end;
  padding: 10px 0;
}
.alert__title {
  font-size: 1.2rem;
  font-weight: bold;
}
.alert__days {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  font-size: 1.4rem;
  font-weight: bolder;
  color: var(--secondary-color);
}
.alert__content {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  text-align: justify;
  justify-content: center;
  flex: 1;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  overflow: hidden;
}


/* Setas de Navegação */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--shadow-color);
  color: var(--bright-color);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 50%;
  z-index: 2;
  &:hover {
    background: rgba(0, 0, 0, 0.8);
  }
}
#prev { left: 10px; }
#next { right: 10px; }