<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>
  <title>Secretaria de Obras</title>
</head>
<body>
  <header class="header">
    <a href="#">
      <div class="header__content">
        <div class="header__logo">
          <img src="assets/img/sinimbu-logo-simples.png" alt="prefeitura de Sinimbu">
        </div>
        <div class="header__title">
          <h1>
            SECRETARIA DE OBRAS
          </h1>
        </div>
      </div>
    </a>
    <nav>
      <button id="menu-btn">&#9776;</button>
      <div class="navigation" id="menu">
        <button id="close-btn">&times;</button>

        <ul class="navigation__list">

          <li id="home-list" class="selected">
            <a href="/">
              <span class="material-symbols-outlined">home</span>
              Home
            </a>
          </li>

          <li id="chamadas-list">
            <a href="#">
              <span class="material-symbols-outlined">add_task</span>
              Registrar 
            </a>
          </li>

          <li id="data-view-list">
            <a href="#">
              <span class="material-symbols-outlined">query_stats</span>
              Visão Geral
            </a>
          </li>

          <li id="search-list">
            <a href="/search">
              <span class="material-symbols-outlined">search</span>
              Pesquisar
            </a>
          </li>

        </ul>
      </div>
    </nav>
  </header>