<%- include('includes/header.html') %>
  <main class="main">
    <table class="main__table">
      <tr>
        <th>Nome</th>
        <th>Prazo</th>
        <th>Local</th>
        <th><span class="material-symbols-outlined">edit</span></th>
        <th><span class="material-symbols-outlined">delete</span></th>
      </tr>
      <% if(chamadas.length > 0) { %> 
        <% chamadas.forEach(chamada => { %>
          <% if(chamada.priority > 2) { %>
            <tr class="danger-tr">
              <td><a href="/data-view/chamada/<%=chamada._id%>"><%= chamada.name %></a></td>
              <td><span class="material-symbols-outlined">calendar_clock</span> <br>
                <%= chamada.diasDiferenca %> dias
              </td>
              <td><%= chamada.local %></td>
              <td title="editar"><a href="/data-view/chamada/edit/<%=chamada._id%>" class="edit-link"><span class="material-symbols-outlined">edit</span></a></td>
              <td title="excluir permanentemente"><a href="/data-view/chamada/delete/<%=chamada._id%>" class="delete-link"><span class="material-symbols-outlined">delete</span></a></td>
            </tr>
          <% } else { %>
            <tr>
              <td><a href="/data-view/chamada/<%=chamada._id%>"><%= chamada.name %></a></td>
              <td>
                <span class="material-symbols-outlined">calendar_clock</span><br>
                <%= chamada.diasDiferenca %> dias
              </td>
              <td> <%= chamada.local %></td>
              <td title="editar"><a href="/data-view/chamada/edit/<%=chamada._id%>" class="edit-link"><span class="material-symbols-outlined">edit</span></a></td>

              <td title="excluir permanentemente"><a href="/data-view/chamada/delete/<%=chamada._id%>" class="delete-link"><span class="material-symbols-outlined">delete</span></a></td>
            </tr>
          <% }}); %>
          <% } %>
    </table>
  </main>
  <script src="assets/js/chamadas.bundle.js"></script>
<%- include('includes/footer.html') %>