<%- include('includes/header.html') %>
  <main class="main">
    <div class="main__title">
      <h2>
        <% if(chamadas.length > 0 ) { %>
          Você tem <%= chamadas.length %> tarefas urgentes !
        <% } else { %>
          Tudo Ótimo.
        <% } %>
      </h2>
    </div>
    <div class="main__display">
      <button id="prev" class="arrow">&#10094;</button>

      <section class="main__alerts">
        <% if(chamadas.length > 0 ) { %>
          <% chamadas.forEach(chamada => { %>
            <a href="/data-view/chamada/<%=chamada._id%>">
              <div class="danger-alert alert">
                <div class="alert__icon">
                  <img src="assets/img/icons/warning_24dp_AF0D0D_FILL0_wght400_GRAD0_opsz24.svg" alt="">
                </div>
                <div class="alert__header">
                  <h3 class="alert__title">
                    <%= chamada.title %>
                  </h3>
                  <div class="alert__days">
                    <span class="svg-icon">
                      <img src="assets/img/icons/pending_actions_24dp_AF0D0D_FILL0_wght400_GRAD0_opsz24.svg" alt="">
                    </span>
                    <%= chamada.
                    diasDiferenca %> dias
                  </div>
                </div>
                <div class="alert__content">
                  <p>
                    <%= chamada.description %>
                  </p>
                </div>
              </div>
            </a>
          <% }); %>
        <% } %>
        <% if(chamadas.length === 0 && chamadasLow.length > 0) { %>
          <% chamadas.forEach(chamada => { %>
            <a href="/data-view/chamada/<%=chamada._id%>">
              <div class="alert">
                <div class="alert__header">
                  <h3 class="alert__title">
                    <span class="svg-icon">
                      <img src="assets/img/icons/warning_24dp_AF0D0D_FILL0_wght400_GRAD0_opsz24.svg">
                    </span>
                    <%= chamada.title %>
                  </h3>
                  <div class="alert__days">
                    <span class="svg-icon">
                      <img src="assets/img/icons/pending_actions_24dp_AF0D0D_FILL0_wght400_GRAD0_opsz24.svg" alt="">
                    </span>
                    <%= chamada.
                    diasDiferenca %> dias
                  </div>
                </div>
                <div class="alert__content">
                  <p>
                    <%= chamada.description %>
                  </p>
                </div>
              </div>
            </a>
          <% }); %>
        <% } %>
      </section>
      
      <button id="next" class="arrow">&#10095;</button>
    </div>
  </main>
  
  <script src="assets/js/home.bundle.js"></script>

<%- include('includes/footer.html') %>