<%- include('includes/header.html') %>
  <main class="main">
    <div class="main__form">
      <div class="messeges">
        <%- include('includes/messeges.html') %>
      </div>
      <form action="/register/add" method="POST" class="register-form form">
        <input type="hidden" name="_csrf" value=<%= csrfToken %>>
        <fieldset>
          <legend>REGISTRAR CHAMADA</legend>
          <div class="form-group">
            <input type="text" id="name" name="name" placeholder="Nome Completo" required minlength="4" maxlength="50">
          </div>

          <div class="form-group">
            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf" placeholder="000.000.000-00" required minlength="10" maxlength="14">
          </div>

          <div class="form-group-2">

            <div class="data-input">
                <label for="date">Data:</label>
                <input type="date" id="date" name="date" value="">
            </div>

            <div class="priority-input">
              <label for="priority">Prioridade:</label>
              <select id="priority" name="forcePriority" required>
                <optgroup label="Forçar prioridade">
                  <option value="1">Baixa</option>
                  <option value="2">Média</option>
                  <option value="3">Alta</option>
                </optgroup>
                <option value="" selected>Automático</option>
              </select>
            </div>

          </div>

          <div class="form-group">
            <input type="text" id="local" name="local" placeholder="Localidade" required minlength="5" maxlength="50">
          </div>

          <div class="form-group">
            <input type="text" name="title" id="title" placeholder="TÍTULO DA CHAMADA" required>
          </div>

          <div class="form-group">
            <label for="description">Descrição:</label>
            <textarea id="description" name="description" placeholder="Descrição da obra" required minlength="10" maxlength="300"></textarea>
          </div>

        </fieldset>
        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
    </div>
  </main>
  <script src="assets/js/register.bundle.js"></script>
<%- include('includes/footer.html') %>