@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  font-family: var(--font-main);
  background-image: linear-gradient(to bottom, var(--hover-background-color) 1%, var(--background-color));
}

a {
  text-decoration: none;
  color:white;
}
.logo {
  margin: 32px;
  width: min(210px, 40vw);
  border-radius: 24%;
  box-shadow: -5px -5px 10px var(--bright-color);
}
.logo img{
  width: 100%;
  border-radius: 24%;
  box-shadow: 5px 5px 10px var(--shadow-color);
}

.hidden {
  display: none;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 12px;
}

.copyright {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 1rem;
  font: normal 0.8rem 'roboto', arial, helvetica;
  color: var(--text-color);
  text-align: center;
}
.copyright a {
  color: var(--primary-color);
  font-weight: bold;
}